<body>
  <nav class="navbar navbar-expand-lg header-logo">
    <div class="container">
      <div class="logo-section">
        <a class="navbar-brand text-white" href="#">
          <i class="fas fa-sticky-note" style="padding-right: 5px;"></i>To-Do
        </a>
      </div>
      <div><button class="logout-btn" (click)="logout()">Logout</button></div>
    </div>
  </nav>

  

  <div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Create a new list
      </h1>
      <input #listTitleInput class="form-control mt-3 mb-3" type="text" placeholder="Enter list name...">
      <div class="buttons">
        <button class="btn btn-danger" routerLink="/userhome">Cancel</button>
        <button class="btn btn-success" (click)="newlistcreation(listTitleInput.value)">Create</button>
      </div>
    </div>
  </div>
</body>